apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask-app
  
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
      
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        # --- THIS LINE IS UPDATED WITH YOUR ID ---
        image: jhiba1/flask-k8s-app:latest 
        # ----------------------------------------
        
        ports:
        - containerPort: 5000
        
        resources:
          requests:
            cpu: "100m" 
            memory: "64Mi"
          limits:
            cpu: "200m"
            memory: "128Mi"