name: CI

on:
  push:
    branches:
      - '**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          flake8 . --max-line-length=90

      - name: Run pytest
        run: |
          export PYTHONPATH="${PYTHONPATH}:$(pwd)"
          pytest

      - name: Build Docker image
        run: |
          docker build . --file Dockerfile --tag flask-k8s-app:latest
